.load {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  animation: load 3s ease-out;
}

@keyframes load {
  0% {
    z-index: 1;
    position: fixed;
    opacity: 1;
  }
  100% {
    z-index: 1;
    opacity: 0;
  }
}
.spinning_loader {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  border: 15px solid;
  border-image-source: linear-gradient(#9356DC, #FF79DA);
  border-radius: 16px;
  box-sizing: border-box;
  z-index: -2;
  opacity: 0;
  width: 40px;
  height: 40px;
  animation: spinning_loader 3s linear;
}

@keyframes spinning_loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(1080deg);
  }
}
.whereabout {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}
.whereabout form {
  margin-top: 20px;
  margin-bottom: 30px;
}
.whereabout i {
  position: relative;
  right: 85px;
  top: 15px;
}
.whereabout .whereabout__placeholder {
  text-align: center;
  font-size: 18px;
  height: 3rem;
  background-color: #e6e6e6;
  width: 100%;
  border: none;
  margin-top: -20px;
  padding: 0px;
  box-shadow: 0px -2px 0px #d9d9d9;
}
.whereabout h1, .whereabout p {
  margin-left: 10%;
  margin-right: 10%;
}
.whereabout p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.button {
  padding: 20px;
  border-radius: 2rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 5px 5px 8px #e6e6e6;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 8px 8px 15px #cdcdcd;
}

.fonctionnement {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fonctionnement__details {
  border-radius: 1rem;
  padding: 25px 0px 25px 15px;
  background-color: #f3f3f3;
  margin: 20px;
  box-shadow: 5px 5px 8px #e6e6e6;
}
.fonctionnement__details:hover {
  background: #f2eafb;
  box-shadow: 8px 8px 15px #cdcdcd;
}
.fonctionnement__details:hover i {
  color: #9356DC;
}
.fonctionnement__details--number {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 25px;
}
.fonctionnement__details--instruction {
  margin-left: 20px;
  font-weight: bolder;
}

.restaurant {
  background-color: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.restaurant__card {
  background-color: white;
  border-radius: 20px;
  margin: 50px 15px 50px 15px;
  padding-bottom: 1px;
  box-shadow: 5px 5px 8px #e6e6e6;
}
.restaurant__card:hover {
  box-shadow: 8px 8px 15px #cdcdcd;
}
.restaurant__card--nouveau {
  position: relative;
  left: 70%;
  top: 25px;
  background-color: #99E2D0;
  padding: 5px;
  color: #278870;
  font-weight: bolder;
}
.restaurant img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img_margin {
  margin-top: -16px;
}

.restaurant__name {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.title_page_menu {
  background-color: #f3f3f3;
  padding-top: 30px;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 100px;
}
.title_page_menu h1 {
  font-style: oblique;
}
.title_page_menu--enchantee {
  margin-top: -70%;
}

.title_plat {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
}
.title_plat:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  border-bottom: 3px solid #99E2D0;
}

.restaurant__card--menu {
  display: grid;
  padding: 15px;
  margin: 20px auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
  max-width: 330px;
}
.restaurant__card--menu:hover {
  cursor: pointer;
}
.restaurant__card--menu h3 {
  margin-right: 10px;
}

.animation_menu_appear {
  animation: menu_appear 1s both;
}
.animation_menu_appear--delay1 {
  animation-delay: 0.2s;
}
.animation_menu_appear--delay2 {
  animation-delay: 0.4s;
}

@keyframes menu_appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu {
  display: flex;
}
.menu--grid {
  display: grid;
  max-width: 100%;
  width: 350px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 5px;
  grid-auto-rows: minmax(10px, auto);
  transition: width 0.65s ease-in-out;
}
.menu--grid h3 {
  grid-column: 1/2;
  grid-row: 1/2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu--grid p {
  grid-column: 1/2;
  grid-row: 2/2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu--grid span {
  font-weight: bolder;
  margin-right: 20px;
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: flex-end;
}

.restaurant__card:hover .menu--grid {
  width: 275px;
  transition: width 0.65s ease-in-out;
}

.check_box_appear {
  background-color: #99E2D0;
  margin: -15px -65px -15px 30px;
  padding: 28px 30px 0px 30px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  grid-column: 3/3;
  grid-row: 1/3;
  transform: translatex(-15px);
  transition: transform 0.65s ease-in-out;
}

.restaurant__card:hover .check_box_appear {
  transform: translatex(-45px);
  transition: transform 0.65s ease-in-out;
}

.restaurant__card:hover .fa-check-circle {
  transform: rotate(720deg);
  transition: transform 1s ease-in-out;
}

.fa-check-circle {
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.button_center {
  text-align: center;
  margin-top: 50px;
}

.button--menu {
  padding: 20px 50px;
}

.header {
  text-align: center;
  margin-top: 20px;
}
.header img {
  margin-top: 20px;
}
.header--menu {
  margin-top: 0px;
}

.fa-arrow-left {
  position: absolute;
  right: 90%;
  top: 25px;
  font-size: 1.5em;
}

.size_img {
  max-width: 100%;
  max-height: max-content;
}

footer {
  background-color: #333333;
  color: white;
  padding: 25px;
}
footer h2 {
  font-style: oblique;
  margin-left: 0px;
}

nav {
  display: flex;
  flex-direction: column;
}
nav li {
  margin-top: 20px;
}
nav a {
  color: white;
}
nav i {
  margin-right: 20px;
}
nav .fa-hands-helping {
  font-size: 0.7em;
}

@media screen and (min-width: 1075px) {
  footer {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 70px 0px;
  }
  footer nav {
    margin-left: 0px;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
body {
  font-family: "Roboto";
  width: 100%;
}

h1, h2, h3 {
  font-family: "Shrikhand";
  font-weight: 900;
}

h1, h2 {
  font-size: 1.5em;
}

h2 {
  margin-left: 20px;
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

.heart svg {
  overflow: visible;
}
.heart svg path {
  stroke-width: 2px;
  fill: url(#gradient1);
  fill-opacity: 0;
}
.heart svg path:hover {
  fill-opacity: 1;
  stroke-opacity: 0;
  cursor: pointer;
  transform-origin: center;
  transform: rotate(360deg);
  transition: transform 1s ease-in-out, fill-opacity 1s ease-in-out;
}

@media screen and (min-width: 1075px) {
  .heart--position {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
  }
}
@media screen and (min-width: 1095px) {
  h1, h2 {
    text-align: center;
    margin-left: 0px;
  }

  .img_trim {
    max-height: 1500px;
    overflow: hidden;
  }

  .restaurant__name--desktop {
    display: block;
  }

  .title_page_menu {
    margin-top: -40%;
  }

  .title_page_menu--enchantee {
    margin-top: -1000px;
  }

  .title_plat::after {
    position: relative;
    left: 45%;
  }

  .desktop_direction {
    display: flex;
    flex-direction: row;
  }

  .desktop_direction--flex {
    flex: 50;
  }

  .fonctionnement__details, .restaurant__card {
    flex: 50;
  }

  .overflow {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
